extends layout

block content
 h1 About Us
 .jumbotron
  h2 NO FIX NO FEE POLICY
  p.lead
    | FREE Diagnostic by Certified Technician.
  p
    a.btn.btn-lg.btn-success(href='/contact', role='button') Submit your contact details
 .row.marketing
  .col-lg-6
    h4 Hardware System Repair
    p
      | * We repair all electrical !!!
      br
      | * Laptop is on but no display, laptop makes noise
      br
      | * Troubleshooting hardware and software problems
      br
      | * Power Jack (needed to be moved around to make it work)    | 
    h4 System Repair and Configuration
    p
      | * Computer maintenance, disk clean up, disk defragmentation
      br
      | * Data recovery
      br
      | * Virus removal - remove the trojan horse and other viruses
      br
      | * Tranfer data, document files, mp3 music, picture
  .col-lg-6
    h4 Tablets and Iphone Ipad Ipod and Smart Phone
    p
      | * We repair all broken screen
      br
      | * Repair power jack
      br
      | * Clean up water damages
      br
      | * Recovery phone number, picuture & notes
      br
      | * Troubleshooting your phone problems

  