extends layout

block content
    .jumbotron
      .container
         h1 #{title}
        p
          | At PC repair we take care of every need regardless the type or size of the problem.
        p
    .container
      .row
        .col-md-4
          h2 What do we do?
          p
            | Our on-site computer support service makes getting your computer fixed easy! No need to disconnect all those computer cables, and load it in the car. One of our friendly and qualified technicians will come right to your home or business and repair your computer on the spot. We service areas of Stratford, Milverton, Mitchell, St. Marys and beyond!
          p
            
        .col-md-4
          h2 Remote Services
          p
            | Our remote support service can solve most computer issues quickly and easily. With no need for an on site appointment, this is the ideal solution to get you up and running quickly without interrupting your schedule.
          p
            
        .col-md-4
          h2 Managed IT Services
          p
            | Boost productivity and reduce costly down time caused by malware, updates, slow running computers, and error messages. We are your IT department, monitoring and maintaining your IT systems 24/7!
          p
            